{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3Care</title>
    <link rel="shortcut icon" href="{% static '/img/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/quiz.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head> 
<body>       
        <div id="quiz">
            <h1>¿A qué árbol te asocias?</h1>

            <hr>

            <h2 id="question">QUESTION</h2>

            <div id="choices">
                <button class="button">nadie sabe</button>
                <button class="button">lo que va</button>
                <button class="button">a pasar</button>
                <button class="button">mañana</button>
            </div>

            <hr>

            <footer>
                <p id="progress">Pregunta x de y</p>
                <nav>
                    <a href="../">Ⓡ3Care</a>
                </nav>
            </footer>

        </div>
</body>
</html>